* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    list-style-type: none;
}

a {
    text-decoration: none;
}

body {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    font-family: sans-serif;
}

.box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;

    width: 600px;
    padding: 20px;
    border: 1px solid #000;

    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

h1 {
    margin-bottom: 25px;
    color: #fff;
}

p {
    color: #fff;
}

.box::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    mix-blend-mode: difference;
}

.box::after {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #fff;
    mix-blend-mode: difference;
    transition: 2s;
}

.box:hover::after {
    left: 50%;
}
